<body>
    <div id="container"><!-- início container-->
        <header><!-- Início header-->
            <div id="logo">
                <h1><a href="">Acessibilidade</a></h1>
            </div>

            <nav><!--Início nav -->
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cases</a></li>
                    <li><a href="#">Pesquisas</a></li>
                    <li><a href="#">Arcevos</a></li>
                </ul>
            </nav><!--fim nav -->

        </header><!--/fim header -->
    </div>
</body>